<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sorvetes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-img src="https://soleneve.com.br/site/uploads/produtos_img/198/16149756844.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>Água na boca</ion-card-title>
        </ion-card-content>
      </ion-card>    
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-img src="https://soleneve.com.br/site/uploads/produtos_img/197/16149517277.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>Super Gelado</ion-card-title>
        </ion-card-content>
      </ion-card>



     
    </ion-slide>
    <ion-slide>

      <ion-card>
        <ion-card-header>
          <ion-img src="https://soleneve.com.br/site/uploads/produtos_img/196/16142771093.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>Docinho</ion-card-title>
        </ion-card-content>
      </ion-card>


    </ion-slide>
    <ion-slide>

      <ion-card>
        <ion-card-header>
          <ion-img src="https://soleneve.com.br/site/uploads/produtos_img/176/15874125678.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>Sorvetão</ion-card-title>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>


</ion-content>
