<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sorveteria Ice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color='secondary'>
    <ion-card-header>
      <ion-card-title>Promoção de Maio!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Faça duas encomendas e ganhe a terceira!
    </ion-card-content>
  </ion-card>

  <ion-card color='danger'>
    <center>
        <img src="https://soleneve.com.br/site/uploads/produtos_img/146/15490277653.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Sunday especial</ion-card-subtitle>
        </ion-card-header>
    </center> 
  </ion-card>

  <ion-card color='danger'>
    <center>
    <img src="https://soleneve.com.br/site/uploads/produtos_img/147/15490278843.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Banana Split</ion-card-subtitle>
    </ion-card-header>
  </center>
  </ion-card>

  <ion-card color='danger'>
    <center>
    <img src="https://soleneve.com.br/site/uploads/produtos_img/123/15415311547.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Paleta com nutela</ion-card-subtitle>
    </ion-card-header>
  </center>
  </ion-card>

</ion-content>
